#slider{
	width: auto;
	height: 420px;
	overflow: hidden;
}

#slider .slides{
	display: block;
	width: 6000px;
	height: 400px;
	margin: 0;
	padding: 0;
}

#slider .slide{
	float: left;
	list-style-type: none;
	width: 720px;
	height: 400px;
}

body{
	background-color: #3e4444;
}

.panel-heading{
	text-align: center;
	padding-top: 20px;
}
.panel-primary{
	margin-top: 20px;

}
.input-group{
	margin-top: 20px
}