#slider{
	width: auto;
	height: 400px;
	overflow: hidden;
}

#slider .slides{
	display: block;
	width: 12000px;
	height: 400px;
	margin: 0;
	padding: 0;
}

#slider .slide{
	float: left;
	list-style-type: none;
	display: inline-block;
	width: 2000px;
	height: 400px;
}
#weather-table {
	position: relative;
	top: 17px;
}

#5dayWeather tr {
padding-left: 4px;
} 

.bg-info {
 margin-bottom: -50px;
	
}
body{
	background-color: #3e4444;
}

.panel-heading{
	text-align: center;
	padding-top: 20px;
}
.panel-primary{
	margin-top: 20px;

}
.input-group{
	margin-top: 20px
}
h6 {
	text-overflow: ellipsis;
}
.push {
  height: 50px;
}
.footer {
	padding: 11px;
	position: relative;
	bottom: -100px;
}
.eventDiv {
	width: 400px;
	height: auto;
}

.imgTop {
	width: 2000px;
	height: auto;
}